{{#> mainLayout }}
<h1>Example Message</h1>
<div>
  {{ message }}
</div>
<h1>Example Row Layout</h1>
<div class="row">
  <div class="col-8">col-8</div>
  <div class="col-4">col-4</div>
</div>

{{/mainLayout}}
